---
import ThemeSwitcher from '../utils/ThemeSwitcher.astro'
---

<div class="m-0">
  <div class="navbar flex justify-between px-8 bg-base-300 shadow-lg mx-auto my-2 w-full max-w-[98%] rounded-md border border-base-500 z-30">
    <div class="btn btn-soft btn-secondary text-3xl">UtilityHub</div>
    <ThemeSwitcher />
  </div>
</div>