---
import Layout from '../layouts/Layout.astro'
import Card from '../components/layout/Card.astro'
---

<Layout title="UtilityHub - Web Tools Collection" theme="night">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <Card name="Border Radius Generator" description="A visual tool to generate and customize border radius values for your CSS. Create perfectly rounded corners with live preview." url="/border-radius" />
    
    <Card name="Password Generator" description="Generate strong and secure passwords with a single click. Customize the length, characters, and symbols to create the perfect password for your needs." url="/password" />

    <Card name="Cool Names" description="Generate cool and unique names for your projects, characters, or anything else. Choose from a variety of categories and get inspired by the results." url="/cool-name" />

    <Card name="Random Draw" description="Create random draws and raffles with a simple and intuitive tool. Add participants, set the number of winners, and let the tool do the rest." url="/randorax" />

    <Card name="Color Palette" description="Generate beautiful color palettes for your projects. Choose from a variety of color schemes and export the palette in different formats." url="/color-palette" />
  </div>
</Layout>
